Flask 
requests 
pytz 
Pillow 
waitress
yfinance 
numpy
adafruit-blinka
adafruit-extended-bus
adafruit-circuitpython-bme680
adafruit-circuitpython-sht4x
adafruit-circuitpython-lsm6ds
spidev
smbus
lgpio
gpiozero
cairosvg
rpi.gpio
colorama
adafruit-circuitpython-bme280
pimoroni-bme280
-e ./vendor/bme68x
pygame
ltr559
pimoroni-bme280
smbus2
